.data-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#map-container{
    display: flex;
    height: 500px;
    width: 100%;
    max-width: 900px;
}

.datasets{
    height: inherit;
    width: 100%;
    max-width: 400px;
    overflow: scroll;
    white-space: nowrap;
}

.data{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    border: solid;
}

button{
    color: white;
    background-color: #052833 
}