
.data-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#map-container{
    display: flex;
    height: 500px;
    width: 100%;
    max-width: 900px;
}

.datasets{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: inherit;
    width: 100%;
    max-width: 400px;
    overflow: scroll;
    white-space: nowrap;
}

.title{
    font-size: 1.3rem;
    font-weight: bold;

}
