.container{
    background-color: #183038;
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    
    
}

.navigation{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    column-gap: 20px;
    justify-content: right;
}

.middle-section{
    display: flex;
    align-items: center;
}

.search{
    width: 100%;
    max-width: 500px;
    height: 25px;
    border-radius: 20px;
    border: none;
    padding-left: 40px;
}

.portal-name{
    font-size: 32px;
}

/*for responsiveness*/
@media (max-width: 768px) {
    .container {
      flex-direction: column;
      height: auto;
      padding: 15px;
    }
  
    .navigation {
      justify-content: center;
    }
  }